<div class="row">
		<% if flash[:notice] %>
 <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <div class="col-xs-3">
<%= render 'books/list', book_new: @book_new, user: @user %>
</div>
<section>

	<div class="col-xs-9">
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>
	<tbody>
	<% @user.books.each do |each_book|%>
		<tr>
			<td>
			  <%=attachment_image_tag each_book.user,:profile_image, :fill, 60, 60, format: 'png', fallback: "noimage.png", size:'60x60'%>
			</td>
			<td> 
			  <%= link_to book_path(each_book) do %>
              <%= each_book.title %>
              <% end %>
            </td>
            <td>
              <%= each_book.body %>
            </td>
		</tr>
	<% end %>
</tbody>
</table>
</div>
</section>
</div>
