<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<section>
          <% @books.each do |book| %>
                  <h3 class="block-title">
                    <%= link_to book_path(book.id) do %>
                      	<%= book.title %>
                    <% end %>
                  </h3>
                  <p><%= book.body %></p>
                  <ul class="inline-meta">
                    <li>By
                      <%= book.user.name %>
                    </li>
                    <li>
                      <% if book.user == current_user %>
                      <%= link_to "削除", books_path(@book), method: :delete %>
                      <% end %>
                    </li>
                    <li>
                    	　<% if @user.id == current_user.id %>
                    	<p><%= link_to "編集", edit_book_path(@book), class: "pull-right" %></p>
                    	<% end %>
                    </li>
                  </ul>

          <% end %>

</section>