<div class="row">
  <div class="col-xs-3">
<%= render 'books/list', book_new: @book_new, user: @user %>
</div>
<section>
 <% if flash[:notice] %>
 <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <div class="col-xs-9">
  <h2>Book detail</h2>
  <table class="table">
    <thead>
      <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
<tbody>
                      <tr>
                        <td>
                          <div>
                      <%= link_to user_path(@book.user.id) do %>
                      <div><%=attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'png', class: " pull-left profile-img", fallback: "noimage.png", size:'60x60'%></div>
                      <div><%= @book.user.name %></div>
                      <% end %>
                    </div>
                    </td>
                    <td class="block-title">
                    <%= link_to book_path(@book) do %>
                    <%= @book.title %>
                    <% end %>
                    </td>
                    <td><%= @book.body %></td>
                    <td>
                      <% if @book.user.id == current_user.id %>
                      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
                      <% end %>
                    </td>
                    <td>
                      　<% if @book.user.id == current_user.id %>
                      <%= link_to "Destroy", book_path(@book),class: "btn btn-danger", method: :delete, data:{confirm: "本当に削除しますか？"} %>
                      <% end %>
                    </td>
  </tr>
</tbody>

                </table>
              </div>
</section>
</div>