<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="row">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
       <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
    <li>
      <div>
        <%= link_to user_path(current_user.id) do%>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span>Home</span>
        <% end %>
      </div>
      </li>
      <li class="">
        <div class="">
        <%= link_to users_path do%>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span>Users</span>
        <% end %>
      </div>
      </li>
      <li class="">
        <div>
        <%= link_to books_path  do%>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <span>Books</span>
        <% end %>
      </div>
      </li>
      <li class="">
        <div>
        <%= link_to destroy_user_session_path,method: :delete do %>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        <span>logout</span>
        <% end %>
      </div>
      </li>
    <% else %>
      <li class="">
        <div>
        <%= link_to root_path  do%>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span>Home</span>
        <% end %>
      </div>
      </li>
      <li class="">
        <div class="">
        <%= link_to home_about_path  do%>
         <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
         <span>About</span>
         <% end %>
      </div>
      </li>
      <li class="">
        <div>
        <%= link_to new_user_registration_path do%>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span>sign up</span>
        <% end %>
      </div>
      </li>
      <li class="">
          <div>
        <%= link_to new_user_session_path do%>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        <span>login</span>
        <% end %>
      </div>
      </li>
    <% end %>
  </ul>
</nav>
</div>
</div>
    </header>
    <main>
      <div class="container">
    <%= yield %>
</div>
  </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
  </footer>
  </body>

</html>
